body {
    overflow-y: scroll;
}


@keyframes blinker {
    50% { opacity: 0; }
}

.blink {
    animation: blinker 1.5s linear infinite;
}


:root, .light, .light-theme {
    --color-page-background: #051b30 !important;
}


