body {
    overflow-y: scroll;
}

@keyframes blinker {
    50% { opacity: 0; }
}

.blink {
    animation: blinker 1.5s linear infinite;
}

:root, .light, .light-theme {
    --color-page-background: #051b30 !important;
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden !important;
    background: #051b30;
    white-space: nowrap;
    position: relative;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #051b30);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #051b30);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block !important;
    animation: 35s slide infinite linear;
  }